<html>
  <head>
  </head>

  <body>
    <p>Click the link below to reset your Gas Jot account password.</p>

    <p><a href="{{ password-reset-url }}"></a>{{ password-reset-url }}</p>

    <p>Thank you for using Gas Jot.</p>

    <p><i>Regards,</i><br />
    <i>The Gas Jot Support team.</i></p>
  </body>
</html>
