<html>
  <head>

  </head>

  <body>
    <p>Hello and welcome to Gas Jot!  Please verify your account by clicking
      on the link below.  We do this to ensure that you are the true owner of the
      email address used when creating your account.</p>

    <p><a href="{{ verification-url  }}"></a>{{ verification-url  }}</p>

    <p>Thank you for using Gas Jot.  We hope you enjoy using it.</p>

    <p><i>Regards,</i><br />
    <i>The JotYourself.com team.</i></p>
  </body>
</html>
