<!DOCTYPE html>
<html>
  <head>
    <title>Gas Jot - Password Reset</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#0d51a6">
    <link rel="stylesheet" type="text/css" href="/css/jotyourself.css">
    <style type="text/css">
form  { display: table;      }
label { display: table-cell; text-align: right; font-weight: bold; padding-right: 4px;}
input { display: table-cell; font-size: 18px;}
    </style>
  </head>
  <body>
    <div class="baseContent header">
      <img srcset="/gasjot/images/gas-jot-title/gas-jot-title-150.png 2x,
                   /gasjot/images/gas-jot-title/gas-jot-title-200.png 3x"
         src="/gasjot/images/gas-jot-title/gas-jot-title-50.png" />
    </div>
    <div class="baseContent main">
      <h1>Password Reset</h1>
      <p>Use the form below to create a new password.</p>
      <br>
      <form name="password_reset_form" method="post">
	<p style="display: table-row">
        <label>New password:</label>
        <input type="password" name="{{ new-password }}" id="pwd-1">
	</p>
	<p style="display: table-row">
        <label>Re-enter new password:</label>
        <input type="password" id="pwd-2">
	</p>
	<p></p>
	<p style="display: table-row">
	<label></label>
        <input type="submit" style="border-radius: 2px; border: 0; height: 2.0em; width: 8.0em; font-size: 14px">
	</p>
      </form>
      <br>
    </div>
    <div class="baseContent footer-bar"></div>
    <div class="baseContent footer">
      <p>Gas Jot is a JotYourself.com application.</p>
    </div>
  </body>
</html>
